*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color:#003566;
    color: white;
}

.tittle{
    background-color: #565365;
}

.tittle h1{
    padding: 20px;
    text-align: center;
    color: #000814;
    background-color: #FFC300;
}

                              /* SELECCION BOX */
.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 20px;
    border: none;
    width: 150px;
    height: 150px;
}

.btn:hover{
    transform: translateY(-3px) scale(1.05);
}

img{
    width: 150px;
    height: 150px;
}



                                /* BOX GAME */
.game{
    display: grid;
    grid-template-columns: auto 70% auto;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}

.box{
    border: white 2px solid;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    background-color: #000814;
    
    
}

.b1, .b2, .b3 {
    height: 40px;
    align-items: center;
}

.b4, .b5, .b6 {
    height: 300px;
}

.b5{
    align-items: center;
}

.b6, .b4{
    display: grid;
    grid-template-columns: auto;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}